In [51]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_csv('master.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,lvl_gdp,GDP_for_group
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,0.0,249068400
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,0.0,245168000
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,0.0,230601200
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,0.0,17352800
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,0.0,218342800

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 14 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
lvl_gdp               27820 non-null float64
GDP_for_group         27820 non-null int64
dtypes: float64(3), int64(5), object(6)
memory usage: 3.0+ MB

In [54]:
df['generation'].unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [55]:
df.__delitem__('HDI for year')
df.__delitem__('year')
d = {'male' : 1, 'female' : 0}
df['sex'] = df['sex'].map(d)
df['sex']=df['sex']
df.head()

,country,sex,age,suicides_no,population,suicides/100k pop,country-year,gdp_for_year ($),gdp_per_capita ($),generation,lvl_gdp,GDP_for_group
0,Albania,1,15-24 years,21,312900,6.71,Albania1987,"2,156,624,900",796,Generation X,0.0,249068400
1,Albania,1,35-54 years,16,308000,5.19,Albania1987,"2,156,624,900",796,Silent,0.0,245168000
2,Albania,0,15-24 years,14,289700,4.83,Albania1987,"2,156,624,900",796,Generation X,0.0,230601200
3,Albania,1,75+ years,1,21800,4.59,Albania1987,"2,156,624,900",796,G.I. Generation,0.0,17352800
4,Albania,1,25-34 years,9,274300,3.28,Albania1987,"2,156,624,900",796,Boomers,0.0,218342800

In [56]:
df_nonbinary = pd.get_dummies(df['generation'])
print (df_nonbinary.columns)

Index(['Boomers', 'G.I. Generation', 'Generation X', 'Generation Z',
       'Millenials', 'Silent'],
      dtype='object')

In [57]:
categorical_columns = [c for c in df.columns if df[c].dtype.name == 'object']
numerical_columns   = [c for c in df.columns if df[c].dtype.name != 'object']
print (categorical_columns)
print (numerical_columns)

['country', 'age', 'country-year', ' gdp_for_year ($) ', 'generation']
['sex', 'suicides_no', 'population', 'suicides/100k pop', 'gdp_per_capita ($)', 'lvl_gdp', 'GDP_for_group']

In [58]:
df[categorical_columns].describe()

        country          age country-year  gdp_for_year ($)     generation
count     27820        27820        27820              27820         27820
unique      101            6         2321               2321             6
top     Iceland  55-74 years  Ireland2006    255,039,560,740  Generation X
freq        382         4642           12                 12          6408

In [59]:
df_describe = df.describe(include=[object])
binary_columns    = [c for c in categorical_columns if df_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if df_describe[c]['unique'] > 2]
print (binary_columns, nonbinary_columns)

[] ['country', 'age', 'country-year', ' gdp_for_year ($) ', 'generation']

In [60]:
df_numerical = df[numerical_columns]
df = pd.concat((df_numerical, df[binary_columns], df_nonbinary), axis=1)
df = pd.DataFrame(df, dtype=float)
print (df.shape)
print (df.columns)

(27820, 13)
Index(['sex', 'suicides_no', 'population', 'suicides/100k pop',
       'gdp_per_capita ($)', 'lvl_gdp', 'GDP_for_group', 'Boomers',
       'G.I. Generation', 'Generation X', 'Generation Z', 'Millenials',
       'Silent'],
      dtype='object')

In [61]:
df.head()

,sex,suicides_no,population,suicides/100k pop,gdp_per_capita ($),lvl_gdp,GDP_for_group,Boomers,G.I. Generation,Generation X,Generation Z,Millenials,Silent
0,1.0,21.0,312900.0,6.71,796.0,0.0,249068400.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,16.0,308000.0,5.19,796.0,0.0,245168000.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,14.0,289700.0,4.83,796.0,0.0,230601200.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,1.0,21800.0,4.59,796.0,0.0,17352800.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1.0,9.0,274300.0,3.28,796.0,0.0,218342800.0,1.0,0.0,0.0,0.0,0.0,0.0

In [62]:
l=df.columns.tolist()
l.remove('sex')

In [63]:
l

['suicides_no',
 'population',
 'suicides/100k pop',
 'gdp_per_capita ($)',
 'lvl_gdp',
 'GDP_for_group',
 'Boomers',
 'G.I. Generation',
 'Generation X',
 'Generation Z',
 'Millenials',
 'Silent']

In [64]:
import math
def entropy(k, fich):
    global df
    a, b, c = 0, 0, 0
    df = df.sort_values(by = fich)
    p = pd.value_counts(df['sex'][0:k].values, normalize=True)
    try:
        a -= p[0] * math.log2(p[0])
    except:
        a += 0
    try:
        a -= p[1] * math.log2(p[1])
    except:
        a += 0
    c += a * k / len(df)
    p = pd.value_counts(df['sex'][k:len(df)].values, normalize=True)
    try:
        b -= p[0] * math.log2(p[0])
    except:
        a += 0
    try:
        b -= p[1] * math.log2(p[1])
    except:
        a += 0
    c += b * (len(df) - k) / len(df)
    return a, b, c

In [41]:
em = [1,1,1]
emi = 1
emf = ''
for i in range(len(df)):
    for h in l:
        x = entropy(i, h)
        if x[2] < em[2]:
            emi = i
            emf = h
            em = x

In [42]:
print (emi, emf, em)

18283 suicides/100k pop (0.925068670227503, 0.709295068868592, 0.8510991218392956)

In [43]:
def gini (q, fich):
    global df
    u = 0
    df = df.sort_values(by = fich)
    p = pd.value_counts(df['sex'][0:q].values, normalize=True)
    if len(p) > 1:
        u1 = 1
    else:
        u1 = 0
    for x in range(len(p)):
        if len(p) > 1:
            u1 -= p[x] * p[x]
    u += u1 * q / len(df)
    p = pd.value_counts(df['sex'][q:len(df)].values, normalize=True)
    if len(p) > 1:
        u2 = 1
    else:
        u2 = 0
    for x in range(len(p)):
        if len(p) > 1:
            u2 -= p[x]*p[x]
    u += u2 * (len(df) - q) / len(df)
    return u1, u2, u

In [44]:
gm = [1,1,1]
gmi = 1
gmf = ''
for i in range(len(df)):
    for h in l:
        x = gini(i, h)
        if x[2] < em[2]:
            gmi = i
            gmf = h
            gm = x

KeyboardInterrupt:

In [ ]:
print (gmi, gmf, gm)

In [65]:
X = df.drop(('sex'), axis=1)
y = df['sex']
feature_names = X.columns
print (feature_names)

Index(['suicides_no', 'population', 'suicides/100k pop', 'gdp_per_capita ($)',
       'lvl_gdp', 'GDP_for_group', 'Boomers', 'G.I. Generation',
       'Generation X', 'Generation Z', 'Millenials', 'Silent'],
      dtype='object')

In [66]:
print (X.shape)
print (y.shape)
N, d = X.shape

(27820, 12)
(27820,)

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 17)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 
print (N_train, N_test)

19474 8346

In [71]:
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

model = DecisionTreeClassifier(max_depth=17 ,random_state = 17)
model.fit(X_train, y_train)
pr = model.predict(X_test)


print(metrics.accuracy_score(y_test, pr))

0.7638389647735442

In [72]:
parameters = {"max_depth": range(1,20), "random_state":[7]}
grid_ = GridSearchCV(model, param_grid=parameters, cv = 5)
grid_.fit(X_train, y_train)
pr1 = grid_.predict(X_test)

print (metrics.accuracy_score(y_test, pr1))

0.7719865803977953

In [ ]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn.datasets import load_wine
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

labels = feature_names

graph = Source(tree.export_graphviz(model, out_file=None
   , feature_names=labels, filled = True))
display(SVG(graph.pipe(format='svg')))